@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #267871, #136a8a);
  /* font-family: Assistant, sans-serif; */
  display: flex;
  min-height: 90vh;
}
.login {
  /* color: white; */
  background-color: #fff;
  /* background: #136a8a; */
  /* background: -webkit-linear-gradient(to right, #267871, #136a8a); */
  /* background: linear-gradient(to right, #267871, #136a8a); */
  margin: auto;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.3),
    0px 30px 60px 1px rgba(0, 0, 0, 0.5); */
  border-radius: 8px;
  padding: 50px;
}
.login .head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .head .company {
  font-size: 2.2em;
}
.login .msg {
  text-align: center;
}
.login .form input[type="text"].text {
  border: 1px solid #ccc;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 270px;
  /* color: white; */
  font-size: 16px;
  outline: none;
  border-bottom-width: 2px;
  padding-left: 15px;
  height: 45px;
  border-radius: 5px;
}
.login .form .text::placeholder {
  /* color: #ccc; */
}
.login .form input[type="password"].password {
  border: 1px solid #ccc;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 270px;
  /* color: black; */
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom-width: 2px;
  padding-left: 15px;
  height: 45px;
  border-radius: 5px;
}
.login .form .password::placeholder {
  /* color: #ccc; */
}
.login .form .btn-login {
  background: linear-gradient(to right, #267871, #136a8a);
  text-decoration: none;
  color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 5px;
  padding: 5px 2em;
  transition: 0.5s;
}
.login .form .btn-login:hover {
  background: none;
  color: black;
  transition: 0.5s;
}
.login .form input[type="password"]:focus,
.login .form input[type="text"]:focus {
  border-color: #136a8a;
}
.login .forgot {
  text-decoration: none;
  color: #757575;
  float: right;
}

.login .forgot:hover {
  text-decoration: none;
  /* color: #ccc; */
  color: black;
  float: right;
}
